@page "{id}"
@model DeliveryAgreagatorApplication.AdminPanel.Pages.Restaurant.IndexModel
@{
}
<html>
    <head>
        <title>Head</title>
    </head>

    <body>
        <form method="post">
            <img src="@Model.Restaurant.Picture"></img>
            <div>Название: @Model.Restaurant.Name</div>
            <div>ID: @Model.Restaurant.Id</div>
            <div asp-validation-summary="All" class="text-danger"></div>
                    <table>
                        <tr>
                            <input type="hidden" asp-for="Restaurant.Id" placeholder="@Model.Restaurant.Name">  
                            <td>Название:</td>
                            <td>
                                <input type="text" asp-for="Restaurant.Name" placeholder="@Model.Restaurant.Name">
                                <span asp-validation-for="Restaurant.Name" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Изображение:</td>
                            <td>
                                <input type="text" asp-for="Restaurant.Picture" placeholder="@Model.Restaurant.Picture"/>
                                <span asp-validation-for="Restaurant.Picture" class="text-danger"></span>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Отправить" />
        </form>
    </body>
</html>
